body {
  background-image: -webkit-gradient(linear, right top, left top, from(#00c6bb), to(#39CCCC));
  background-image: linear-gradient(-90deg, #00c6bb, #39CCCC);
  color: #fff;
  font-family: 'Montserrat',sans-serif;
}

.container {
  text-align: center;
  width: 50%;
  margin-left: 24%;
  margin-top: 2%;
  border: 1px solid white;
  clear: both;
  min-height: 450px;
}

h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 500;
}

h1::after {
  content: '';
  height: 2px;
  background-color: #fff;
  width: 36%;
  display: block;
  margin-left: 32%;
}

ul {
  margin-right: 5%;
  font-size: 1.7rem;
  margin-top: -3%;
  list-style-type: none;
}

ul li {
  padding: .5% 0;
}

ul a {
  text-decoration: none;
  color: #fff;
}

#lastLink {
  margin-top: 15%;
  font-size: 1rem;
}

.boundOne, .boundTwo, .boundThree, .boundFour, .boundFive {
  height: 5px;
  background-color: #fff;
  width: 5%;
  display: block;
  margin-left: 18%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.active {
  opacity: 1;
  visibility: visible;
  margin-left: 47.5%;
}

.logout, .welcome {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px;
  margin: 1%;
  cursor: pointer;
  color: #fff;
}

.welcome {
  float: left;
  cursor: auto;
  border: none;
}

.logout {
  float: right;
}

button:focus {
  outline: none;
}

.logout:hover {
  background: rgba(0, 0, 0, 0.2);
}