body {
    background-image: linear-gradient(-90deg, #00c6bb, #39CCCC);
    //background-color: #00c6bb;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
}
.container {
    text-align: center;
    width: 50%;
    margin-left: 24%;
    margin-top: 2%;
    border: 1px solid white;
    clear: both;
    min-height: 450px;
}
h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 500;
}
h1::after {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 36%;
    display: block;
    margin-left: 32%;
}
ul {
    margin-right: 5%;
    font-size: 1.7rem;
    margin-top: -3%;
    li {
        padding: .5% 0;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    list-style-type: none;
}
#lastLink {
    margin-top: 15%;
    font-size: 1rem;
}
.boundOne, .boundTwo, .boundThree, .boundFour {
    height: 5px;
    background-color: #fff;
    width: 5%;
    display: block;
    margin-left: 18%;
    transition: all .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.active {
    opacity: 1;
    visibility: visible;
    margin-left: 47.5%;
}
.logout, .welcome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    margin: 1%;
    cursor: pointer;
    color: #fff;
}
.welcome {
    float: left;
    cursor: auto;
    border: none;
}
.logout {
    float: right;
}
button:focus {
    outline: none;
}
.logout:hover {
    background: rgba(0, 0, 0, .2);
}
